@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC; /* Fundo suave para os cards brilharem */
  font-family: 'Inter', sans-serif; /* Ou a fonte que preferir */
}